@use 'sass:math';

@each $key,
$val in $colors {
    .bg-#{$key} {
        background-color: $val;
    }

    .bg-hover-#{$key} {
      &:hover {
        background-color: $val;
        padding: $base-padding $base-padding *2;
      }
    }

    .text-#{$key} {
        color: $val;
    }

    //   Hover
      .text-hover-#{$key} {
        &:hover {
          color: $val;
        }
      }

    /* Dark and Light Colors */
    @if ($val !=black and $val !=white) {
        @for $i from 1 through 9 {
            .bg-#{$key}-light-#{$i} {
                background-color: mix($val, white, $i * 10%);
            }

            .text-#{$key}-light-#{$i} {
                color: mix($val, white, $i * 10%);
            }

            //   Hover
            .text-hover-#{$key}-light-#{$i} {
                &:hover {
                  color: mix($val, white, $i * 10%);
                }
              }

              .bg-hover-#{$key}-light-#{$i} {
                &:hover {
                  color: mix($val, black, $i * 10%);
                }
              }
              
        } 

            @for $i from 1 through 9 {
                .bg-#{$key}-dark-#{$i} {
                    background-color: mix($val, black, $i * 10%);
               
                }

                .text-#{$key}-dark-#{$i} {
                    color: mix($val, black, $i * 10%);
                }

                  //   Hover
                .text-hover-#{$key}-dark-#{$i} {
                    &:hover {
                      color: mix($val, black, $i * 10%);
                    }
                }

                .bg-hover-#{$key}-dark-#{$i} {
                  &:hover {
                    color: mix($val, black, $i * 10%);
                  }
                }

            }
        }

    }
